form{
    /* testing */
    padding-bottom: 1em;
    justify-self: auto;
    width:100%;
    display: grid;
    grid-template-columns: auto 5fr auto;
    grid-template-rows: 1fr 7fr 1fr 1fr;
    gap: 10em;
    justify-items: center;
    align-items: center;
    background-color: orange;
}
form .card_front{
    width:100%;
    /* top: -15px;
    left: 10px; */
    background-color: green;
}
form .card_back{
    width:100%;
    bottom: 10px;
    /* left: 10px; */
    background-color: green;
    grid-column: 1;
}