body{
    background-color: blue;
}
form{
    /* testing */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% 50%;
    gap: 10%;
    justify-items: center;
    align-items: center;
    background-color: orange;
}
form > section{
    background-color: grey;
    border-radius: 5%;
    width: 50%;
    height: 50%;
}