/* HEADER DETAILS */
header{
    border-bottom: 2px solid grey;
    /* display: flex; */
    /* justify-content: center; */
}
header img{
    width:6em;
    height: auto;
}
.search-form{
    width: 100%;
}
.search-form button{
    background-color: transparent;
    border: 1px solid grey;
}
/* MAIN*/
main div .recipe-card{
    border: 2px solid black;
}
.social img{
    width: 6em;
    height: auto;
}
/* FOOTER */